.launchpad-list-container {
  > .launchpad-btns-container {
    > .btn-deploy-launchpad {
      height: 32px;
      margin-bottom: 10px;
    }
  }
}
.launchpad-list-item {
  display: flex;
  flex-direction: column;
  > p {
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
  }

  .launchpad-list-addr {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #19163d;
  }
}
