.launchpad-list-item {
  display: flex;
  flex-direction: column;

  .launchpad-list-addr {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #19163d;
  }
}
