.home-title {
  padding-left: 0;
  text-align: center;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ant-spin-nested-loading {
    width: 100%;
  }
  .home-content {
    width: 100%;
    padding-top: 90px;
    height: 100vh;
    background-color: #f8f9ff;
    background-image: url(/img-welcome-bg.png);
    background-size: contain;
    box-shadow: 8px 8px 20px rgba(137, 137, 137, 0.25);
    background-repeat: no-repeat;
    background-position: top center;
  }

  .text-tip {
    margin-top: 133px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #8f92a1;

    mix-blend-mode: normal;
    opacity: 0.6;

    margin-bottom: 13px;
  }
  .address-display {
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      text-align: center;

      color: #19163d;
      margin-right: 3px;
    }
    > img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .bind-addr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .bind-btn {
      width: 273px;
      margin-bottom: 16px;
      height: 40px;
    }
    .unbind-btn {
      background: #ffffff;
    }
    .action-btn {
      width: 155px;
      margin-bottom: 16px;
      height: 40px;
    }
    .logout-btn {
      background: #ffffff;
    }
  }
  .navs {
    margin-top: 20px;
    a {
      font-size: 20px;
    }
  }
}
