.layout {
  max-width: 800px;
  margin: 0 auto;
}
.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1em;
  }
}

.page-container {
  position: relative;
  padding: 20px;
}

.page-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: center;

  color: #19163d;
}
