.layout {
  max-width: 800px;
  margin: 0 auto;
}
.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1em;
  }
}

.page-container {
  position: relative;
  padding: 20px;
}

.page-title {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 500;
}
